{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Central</title>
    <!-- Usar la etiqueta static para cargar la hoja de estilo -->
    <link rel="stylesheet" href="{% static 'css/styles_home.css' %}">
</head>
<body>
<form action="{% url 'login'  %}" method="get">
                    <button class="btn-buscar"> cerrar secion</button>
                </form>

    <header>

        <!-- Usar la etiqueta static para cargar las imágenes -->
        <img src="{% static 'imagenes/Volaris-Logo.png' %}" alt="Logo de Volaris" class="logo">
        <h1>Menú Principal</h1>
        <img src="{% static 'imagenes/kargo.png' %}" alt="Logo de Kargo" class="logo2">


    </header>
    <main>
        <div class="background"></div>
        <div class="menu-central">
            <h2>¿Qué deseas hacer?</h2>
            <div class="menu-options">
                <!-- Aquí usas URL de Django para las vistas -->
                <form action="{% url 'subir'  %}" method="get">
                    <button class="btn-agregar">Agregar</button>
                </form>
                <form action="#" method="get">
                    <button class="btn-buscar">Buscar</button>
                </form>
            </div>
        </div>
    </main>

</body>
</html>

